body {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
}

.item {
  position: absolute;
  image-rendering: pixelated;
  left: 50%;
  top: 50%;
  /*margin-left: -6px;
  margin-top: -6px;*/
  content: " ";
}

.hidden {
  display: none;
}

.box {
    position: absolute;
    margin-left: -64px;
    margin-top: -80px;
    width:  128px;
    height: 160px;
    overflow: hidden;
    
}

.tile {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  transition: all 0.3s linear;
  transform: translate3d(-16px,-16px,0px)
}

.bg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;
  background-color: red;
}
